<!doctype html>
{% load static %}
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Профиль</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="{% static 'web/styles/shards-dashboards.1.1.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/styles/extras.1.1.0.min.css' %}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="{% url 'web:cabinet' %}" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="{% static 'web/images/shards-dashboards-logo.svg' %}" alt="Документус">
                  <span class="d-none d-md-inline ml-1">Электронный документооборот</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'web:cabinet' %}">
                  <i class="material-icons">edit</i>
                  <span>Главная</span>
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link " href="{% url 'web:new-post' %}">
                  <i class="material-icons">note_add</i>
                  <span>Создать документ</span>
                </a>
              </li>
              {% if perms.auth.view_group %}
              <li class="nav-item">
                <a class="nav-link " href="{% url 'web:group' %}">
                  <i class="material-icons">vertical_split</i>
                  <span>Компания</span>
                </a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'web:user' %}">
                  <i class="material-icons">vertical_split</i>
                  <span>Профиль</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form class="main-navbar__search w-100 d-none d-md-flex d-lg-flex" method="post" action="{% url 'web:search' %}">
                  {% csrf_token %}
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas"></i>
                    </div>
                  </div>
                </div>
                  <input class="navbar-search form-control" type="text" placeholder="Поиск..." name="text">
              </form>
                <!-- Уведомления -->
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item border-right dropdown notifications">
                  <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="nav-link-icon__wrapper">
                      <i class="material-icons">&#xE7F4;</i>
                        {% if notifications %}
                      <span class="badge badge-pill badge-danger">{{  notifications|length }}</span>
                         {% endif %}
                    </div>
                  </a>
                {% if notifications %}
                  {% for notification in notifications %}
                   <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">
                      <div class="notification__icon-wrapper">
                        <div class="notification__icon">
                          <i class="material-icons">lightbulb_outline</i>
                        </div>
                      </div>
                      <div class="notification__content">
                        <p>{{ notification }}</p>
                      </div>
                    </a>
                  </div>
                  {% endfor %}
                   {% else %}
                    <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">
                      <div class="notification__icon-wrapper">
                        <div class="notification__icon">
                          <i class="material-icons">notifications_none</i>
                        </div>
                      </div>
                      <div class="notification__content">
                        <p>Оповещения отсутствуют</p>
                      </div>
                    </a>
                  </div>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="d-none d-md-inline-block">{{ username }}</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item text-danger" href="{% url 'web:logout' %}">
                      <i class="material-icons text-danger">&#xE879;</i> Выход </a>
                  </div>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Обзор</span>
                <h3 class="page-title">Профиль</h3>
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Default Light Table -->
           <div class="main-content-container container-fluid px-4">
            <div class="row">
              <div class="col-lg-8">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Детали</h6>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                      <div class="row">
                        <div class="col">
                          <form method="post" action="{% url 'web:update_account' %}">
                              {% csrf_token %}
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="feFirstName">Ник</label>
                                <input type="text" name="username" class="form-control" id="feFirstName" placeholder="Username" value="{{ username }}"> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="feEmailAddress">Email</label>
                                <input type="email" class="form-control" name="email" id="feEmailAddress" placeholder="Email" value="{{ email }}"> </div>
                              <div class="form-group col-md-6">
                                <label for="fePassword">Пароль</label>
                                <input type="password" class="form-control" name="password" id="fePassword" placeholder="Password"> </div>
                            </div>
                            <button type="submit" class="btn btn-accent">Обновить</button>
                          </form>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
           </div>
          </div>
          <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'web:cabinet' %}">Домой</a>
              </li>
            </ul>
            <span class="copyright ml-auto my-auto mr-2">Copyright © 2020
              <a href="https://designrevision.com" rel="nofollow"></a>
            </span>
          </footer>
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="{% static 'web/scripts/extras.1.1.0.min.js' %}" ></script>
    <script src="{% static 'web/scripts/shards-dashboards.1.1.0.min.js' %}" ></script>
    <script src="{% static 'web/scripts/app/app-blog-overview.1.1.0.js' %}" ></script>
  </body>
</html>